# Environment
venv_c/
.vscode/
__pycache__/
*.pyc
*.pyo

# Dataset & raw data
dataset_raw/
Dataset_BPST*.csv

# Notebook
*.ipynb

# Model lain yang tidak dipakai
saved_model/SVM_GD_82_*
saved_model/SVM_GD_91_*

# Streamlit cache
app/.streamlit/secrets.toml
app/.streamlit/cache/